recursive-include preview_generator/public/ *
prune preview_generator/public/img
include preview_generator/public/favicon.ico
recursive-include preview_generator/i18n *
recursive-include preview_generator/templates *
